.layout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 30em) {
  .layout {
    width: 90%;
  }
}

@media screen and (min-width: 68em) {
  .layout {
    width: 80%;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 30em) {
  .container {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 68em) {
  .container {
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 2rem;
  }
}
